<h1><%= about.title %> </h1>
<p>body: <%= about.body %></p>
<p>Price <%= about.price %></p>
<p>Created at: <%= about.created_at %></p>
<p>Updated at: <%= about.updated_at %></p>
<p>Part number: <%= about.part_number %></p>